.__modal_overview:hover {
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 2px 3fr;
    align-items: start;
    gap: 10px;
}

.timeline__date {
    grid-column: 1;
    text-align: right;
}

// generated dynamically
// .timeline__vertical_line {
//     grid-column: 2 / span 1;
//     grid-row: 1 / span 3;
//     background-color: #333;
//     border: 2px solid #333;
//     min-height: 100%;
// }

.timeline__details {
    grid-column: 3;
    margin-left: 10px;
}
